@import 'fonts.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background: #E5E5E5;
}

.container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
}

/* HEADER START */

.header-content {
    background: url('../images/headerbg.png');
    height: 500px;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 62px;
    background-color: #FFFFFF;
    border-radius: 14px;
}

.header-title {
    color: #696868;
    font-family: 'Rubik-bold';
    max-width: 332px;
    width: 100%;
    font-size: 50px;
    line-height: 59px;
    position: relative;
    z-index: 1;
}

.header-title::after {
    content: '';
    display: block;
    width: 100px;
    height: 53px;
    background: #3FA5D5;
    position: absolute;
    top: 33px;
    z-index: -1;
    /* otvechaet za prioritet */
}

.header-description {
    color: #696868;
    font-family: 'Rubik-Regular';
    font-size: 16px;
    line-height: 19px;
    max-width: 314px;
    width: 100%;
    margin: 25px 0;
    text-align: justify;
}

.header-link {
    display: inline-block;
    background: #3FA5D5;
    border-radius: 30px;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Rubik-Regular';
    font-size: 16px;
    line-height: 19px;
    width: 211px;
    padding: 7px 0;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    transition: 0.5s;
}

.header-link:hover {
    background: #2A86B1;
}

/* HEADER END */

/* MAIN START */

.main-card {
    background: #FFFFFF;
    border-radius: 15px;
    width: 255px;
    padding: 32px 18px 19px 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-title {
    color: #2A86B1;
    font-size: 20px;
    line-height: 24px;
    font-family: 'Rubik-Bold';
    margin-bottom: 59px;
    height: 40px;
}

.card-icon {
    color: #3FA5D5;
    font-size: 100px;
    margin-bottom: 70px;
}

.card-link {
    display: block;
    background: #3FA5D5;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    color: #FFFFFF;
    width: 219px;
    padding: 7px 0;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    font-family: 'Rubik-Regular';
    transition: 0.5s;
}

.card-link:hover {
    background: #2A86B1;
}

.main-cards {
    display: flex;
    justify-content: space-between;
}

.info-title {
    color: #686868;
    font-size: 20px;
    line-height: 24px;
    font-family: 'Rubik-Bold';
    margin-bottom: 22px;
    margin-left: 18px;
}

.info-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-info {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}

.left-description {
    color: #545454;
    text-align: justify;
    font-size: 16px;
    line-height: 19px;
    font-family: 'Rubik-Regular';
    width: 795px;
    padding: 15px;
    background: #FFFFFF;
    border-radius: 8px;
}

.mr {
    margin: 15px 0;
}

.main {
    padding-bottom: 44px;
}

.right-card {
    display: flex;
    width: 255px;
    background: #FFFFFF;
    border-radius: 8px;
    /* margin-bottom: 15px; */
}

.card-img {
    margin: 20px 15px;
}

.card-description {
    color: #000000;
    font-size: 14px;
    line-height: 94.5%;
    font-family: 'Rubik-Light';

}

.right-card-title {
    color: #323232;
    font-size: 17px;
    line-height: 94.5%;
    font-family: 'Rubik-Regular';
    margin-top: 15px;
    margin-bottom: 5px;
}

.info-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* MAIN END */

/* FOOTER START */

.footer-title {
    color: #FFFFFF;
    font-family: 'Rubik-Bold';
    font-size: 50px;
    line-height: 59px;
}

.tel {
    color: #FFFFFF;
    font-family: 'Rubik-Bold';
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 15px;
}

.mail {
    color: #FFFFFF;
    font-family: 'Rubik-Regular';
    font-size: 16px;
    line-height: 19px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer {
    background: #3FA5D5;
    padding: 40px 0;
}

/* FOOTER END */

/* ASIDE START */

aside {
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 100px;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden; /* skrivaet elementi kotorie naxodyatsya za predeli rogitelya */
    transition: 0.5s;
}

.aside:hover {
    width: 234px;
}

.logo {
    display: block;
    margin: 30px 20px 0 20px;
}

.list-link {
    display: flex;
    align-items: center;
    margin-bottom: 55px;
    color: #939393;
    font-family: 'Rubik-Regular';
    font-size: 18px;
    line-height: 21px;
    transition: 0.5s;
}

.aside-list {
    margin-left: 30px;
}

.list-icon {
    font-size: 40px;
    margin-right: 35px;
    color: #939393;
}

.list-link:hover {
    color: #2A86B1;
}

.list-icon:hover {
    color: #2A86B1;
}

.avatar {
    margin: 0 0 30px 15px;
    width: 70px;
    height: 70px;
}

/* ASIDE END */

/* MEDIA START */

@media(max-width: 1470px) {
    .aside {
        flex-direction: row;
        width: 100%;
        height: 100px;
        align-items: center;
        justify-content: space-around;
        z-index: 2;
    }
    
    .aside:hover {
        width: 100%;
        height: 100%;
    }
    
    .aside-list {
        display: flex;
        /* margin-top: 60px; */
    }
    
    .list-link {
        flex-direction: column;
        align-items: center;
        margin-right: 25px;
        margin-bottom: 0;
    }
    
    .list-icon {
        margin-right: 0;
    }
    
    .logo, .avatar {
        margin: 0;
    }
}

@media(max-width: 1050px) {
    .main-cards {
        flex-wrap: wrap;
    }
    
    .main-info {
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .right-card {
        max-width: 795px;
        width: 100%;
        align-items: center;
        margin-bottom: 15px;
    }
    
    .right-card-title {
        margin-top: 0;
    }
    
    .card-description {
        max-width: 343px;
        width: 100%;
    }
    
    .footer-content {
        justify-content: space-around;
    }
    
    .left-description {
        max-width: 795px;
        width: 100%;
    }

    .info-right .info-title {
        margin-top: 22px;
    }
}

@media(max-width: 1019px) {
    .main-cards {
        justify-content: space-around;
    }
    
    .main-card:nth-of-type(4) {
        margin-top: 15px;
    }
}

@media(max-width: 764px) {
    .main-card:nth-of-type(3) {
        margin-top: 15px;
    }

    .footer-content {
        flex-wrap: wrap;
    }

    .list-icon {
        font-size: 25px;
    }

    .list-link {
        font-size: 15px;
    }

    .aside-list {
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

@media(max-width: 529px) {
    .footer-right {
        align-items: center;
        margin-top: 15px;
    }
}

@media(max-width: 391px) {
    .header-content {
        padding-left: 30px;
    }
}

@media(max-width: 361px) {
    .aside {
        flex-wrap: wrap;
    }

    .aside-list {
        flex-wrap: nowrap;
    }
}

@media(max-width: 329px) {
    .footer-title {
        text-align: center;
    }

    .list-link {
        margin-right: 15px;
    }
}

/* MEDIA END */